.sideCatBarCont
{
    
}
.sideCatBarBtn
{
    height: 100px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px rgba(202, 202, 202, 0) solid;
    border-bottom: 2px rgb(202, 202, 202) solid;
    border-right: 5px rgba(0, 0, 0, 0) solid;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
}
.sideCatBarBtn:hover
{
    color: rgb(40, 176, 255);
    cursor: pointer;
    border-right: 5px rgb(40, 176, 255) solid;
    background-color: rgb(231, 250, 248);
}
.sideCatBarBtn:active
{

    background-color: rgb(198, 216, 214);
}
.ActivatedsideCatBarBtn
{
    color: rgb(40, 176, 255);
    cursor: pointer;
    border-right: 5px rgb(40, 176, 255) solid;
    background-color: rgb(231, 250, 248);
}
.fa-video
{
    border-left: 1px  solid;
    transform: rotate(20deg);
}